In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
d=pd.read_csv('Netflix Dataset.csv')

In [3]:
d

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...
7784,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7785,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7786,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7787,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7788,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [4]:
d.head()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [5]:
d.tail()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
7784,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7785,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7786,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7787,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7788,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [6]:
d.shape

(7789, 11)

In [7]:
d.size

85679

In [8]:
d.columns

Index(['Show_Id', 'Category', 'Title', 'Director', 'Cast', 'Country',
       'Release_Date', 'Rating', 'Duration', 'Type', 'Description'],
      dtype='object')

In [9]:
d.dtypes

Show_Id         object
Category        object
Title           object
Director        object
Cast            object
Country         object
Release_Date    object
Rating          object
Duration        object
Type            object
Description     object
dtype: object

In [10]:
#duplicate()

In [11]:
data.head()

NameError: name 'data' is not defined

In [12]:
data.shape

NameError: name 'data' is not defined

In [13]:
d[d.duplicated()]

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
6300,s684,Movie,Backfire,Dave Patten,"Black Deniro, Byron ""Squally"" Vinson, Dominic ...",United States,"April 5, 2019",TV-MA,97 min,"Dramas, Independent Movies, Thrillers",When two would-be robbers accidentally kill a ...
6622,s6621,Movie,The Lost Okoroshi,Abba T. Makama,"Seun Ajayi, Judith Audu, Tope Tedela, Ifu Enna...",Nigeria,"September 4, 2020",TV-MA,94 min,"Comedies, Dramas, Independent Movies",A disillusioned security guard transforms into...

In [70]:
d.drop_duplicates(inplace=True)

In [71]:
d[d.duplicated()]

Empty DataFrame
Columns: [Show_Id, Category, Title, Director, Cast, Country, Release_Date, Rating, Duration, Type, Description]
Index: []

In [74]:
data.shape()

NameError: name 'data' is not defined

In [75]:
d.isnull

<bound method DataFrame.isnull of      Show_Id Category                                    Title  \
0         s1  TV Show                                       3%
1         s2    Movie                                    07:19
2         s3    Movie                                    23:59
3         s4    Movie                                        9
4         s5    Movie                                       21
...      ...      ...                                      ...
7784   s7783    Movie                                     Zozo
7785   s7784    Movie                                   Zubaan
7786   s7785    Movie                        Zulu Man in Japan
7787   s7786  TV Show                    Zumbo's Just Desserts
7788   s7787    Movie  ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS

               Director                                               Cast  \
0                   NaN  João Miguel, Bianca Comparato, Michel Gomes, R...
1     Jorge Michel Grau  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...
2          Gilbert Chan  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...
3           Shane Acker  Elijah Wood, John C. Reilly, Jennifer Connelly...
4        Robert Luketic  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...
...                 ...                                                ...
7784        Josef Fares  Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7785        Mozez Singh  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
7786                NaN                                            Nasty C
7787                NaN                         Adriano Zumbo, Rachel Khoo
7788           Sam Dunn                                                NaN

                                                Country        Release_Date  \
0                                                Brazil     August 14, 2020
1                                                Mexico   December 23, 2016
2                                             Singapore   December 20, 2018
3                                         United States   November 16, 2017
4                                         United States     January 1, 2020
...                                                 ...                 ...
7784  Sweden, Czech Republic, United Kingdom, Denmar...    October 19, 2020
7785                                              India       March 2, 2019
7786                                                NaN  September 25, 2020
7787                                          Australia    October 31, 2020
7788              United Kingdom, Canada, United States       March 1, 2020

     Rating   Duration                                               Type  \
0     TV-MA  4 Seasons  International TV Shows, TV Dramas, TV Sci-Fi &...
1     TV-MA     93 min                       Dramas, International Movies
2         R     78 min                Horror Movies, International Movies
3     PG-13     80 min  Action & Adventure, Independent Movies, Sci-Fi...
4     PG-13    123 min                                             Dramas
...     ...        ...                                                ...
7784  TV-MA     99 min                       Dramas, International Movies
7785  TV-14    111 min     Dramas, International Movies, Music & Musicals
7786  TV-MA     44 min  Documentaries, International Movies, Music & M...
7787  TV-PG   1 Season                 International TV Shows, Reality TV
7788  TV-MA     90 min                    Documentaries, Music & Musicals

                                            Description
0     In a future where the elite inhabit an island ...
1     After a devastating earthquake hits Mexico Cit...
2     When an army recruit is found dead, his fellow...
3     In a postapocalyptic world, rag-doll robots hi...
4     A brilliant group of students become card-coun...
...                                                 ...
7784  When Lebanon's Civil War deprives Zozo of his ...
7785  A scrappy but poor boy worms his way into a ty...
7786  In this documentary, South African rapper Nast...
7787  Dessert wizard Adriano Zumbo looks for the nex...
7788  This documentary delves into the mystique behi...

[7787 rows x 11 columns]>

In [77]:
d.isnull().sum

<bound method DataFrame.sum of       Show_Id  Category  Title  Director   Cast  Country  Release_Date  \
0       False     False  False      True  False    False         False
1       False     False  False     False  False    False         False
2       False     False  False     False  False    False         False
3       False     False  False     False  False    False         False
4       False     False  False     False  False    False         False
...       ...       ...    ...       ...    ...      ...           ...
7784    False     False  False     False  False    False         False
7785    False     False  False     False  False    False         False
7786    False     False  False      True  False     True         False
7787    False     False  False      True  False    False         False
7788    False     False  False     False   True    False         False

      Rating  Duration   Type  Description
0      False     False  False        False
1      False     False  False        False
2      False     False  False        False
3      False     False  False        False
4      False     False  False        False
...      ...       ...    ...          ...
7784   False     False  False        False
7785   False     False  False        False
7786   False     False  False        False
7787   False     False  False        False
7788   False     False  False        False

[7787 rows x 11 columns]>

In [78]:
d.head()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [72]:
d[d["Title"]=="House of Cards"][["Show_Id","Director"]]

     Show_Id                                           Director
2832   s2833  Robin Wright, David Fincher, Gerald McRaney, J...

In [82]:
d[d["Title"].str.contains("House of Cards")] [["Show_Id","Director"]]

     Show_Id                                           Director
2832   s2833  Robin Wright, David Fincher, Gerald McRaney, J...

In [84]:
d.dtypes

Show_Id         object
Category        object
Title           object
Director        object
Cast            object
Country         object
Release_Date    object
Rating          object
Duration        object
Type            object
Description     object
dtype: object

In [85]:
d["N_Date"] = pd.to_datetime(d["Release_Date"],format="mixed")
d.head(2)

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,N_Date
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23

In [86]:
d.dtypes

Show_Id                 object
Category                object
Title                   object
Director                object
Cast                    object
Country                 object
Release_Date            object
Rating                  object
Duration                object
Type                    object
Description             object
N_Date          datetime64[ns]
dtype: object

In [90]:
d["Date_"].dt.year.value_counts()..plot(kind="bar");

KeyError: 'n_Date'

In [ ]:
d["Category"].value_counts()

In [ ]:
sns.countplot(d["Category"]);

In [ ]:
d["year"] = d["n_Date"].dt.year
d [d["Category"]=="Movie") & (d["year"]==2018)]

In [ ]:
d[ (d["Category"]=="TV show") & (d["Country"]=="India") ]["Title"].samples(10)

In [ ]:
d[d["Category"]=="Movie) & (d["Type"]=="Comedies") | (d["Country"]=="United Kingdom"])

In [ ]:
d['Rating'].nunique()

In [ ]:
d['Rating'].unique()

In [ ]:
d[ (d["Category"]=="Movie") & (d["Rating"]=="TV_14") & (d["Country"]=="Canada")].shape[0]